<!DOCTYPE html>
<html>
<head>
	<title>Basic HTML</title>
	<link rel="icon" href="img/orb.ico">
	<link rel="stylesheet" type="text/css" href="css/calculator.css">
</head>
<body>
	<div
		Enter First Number:
		<input type="text" id="fn">
	</div>
	<div>
		Enter Second Number:
		<input type="text" id="sn">
	</div>
	<br>
	<div id="sum"><span id="sum"></span></div>
	<div id="diff"><span id="diff"></span></div>
	<div id="product"><span id="product"></span></div>
	<div id="qou"><span id="qou"></span></div>
	<button onclick="addMe()">RESULT</button>
	<script type="text/javascript" src="js/calculator.js">
	</script>
</body>
</html>