#first{
	color:#ff0000;
}
#second{
	color:#0000ff;
}
#sum{
	color:#ff00ff;
	font-size: 50px;
}
#diff{
	color:#ff00ff;
	font-size: 50px;
}
#product{
	color:#ff00ff;
	font-size: 50px;
}
#qou{
	color:#ff00ff;
	font-size: 50px;
}